 body {background-color:rgb(251, 251, 251);
       padding: 0;
       margin: 0;     
}

 
h1 {color:rgb(148, 3, 3);
    background-color:lightyellow;
    border-radius:20px;
    border-color:black;
    border-width:2px;
    border-spacing:40px;
    animation-name:zoom;
    animation-duration:5s;
    animation-iteration-count:infinite ;
    animation-timing-function:linear;
    animation-delay:1s;
    transition-timing-function:ease-in-out;          
      text-align:center;      
      font-size:60px;
      font-family: 'Arial Black', sans-serif;
      font-weight:bolder;
      text-shadow:4px 4px 6px rgba(0, 0,
      0, 0.2);
      margin:5px;
      padding:10px;

}

@keyframes zoom {
    0% {font-size:5px; }
    25% {font-size:25px;}
    50% {font-size:30px;}
    75% {font-size:25px;}
    100%{font-size:5px;}
}
     
#image:active {
               color:red;
               

              }             

p {font-size:28px;
   font-style:ariel;
   position:center;
   background-color:lightyellow;
   border-radius:12px;
   padding-left:22px;
   font-family:fantasy;
   margin-right:5px;
   }   
   
input[type="submit"] {font-size:20px;
        color:white;
        background-color:rgb(13, 59, 13);
        border-radius:8px 4px 8px 4px; 
        padding-left:30px;
        padding-right:30px; 
        margin-bottom:20px; 
        box-shadow:2px 3px 4px grey;
        font-weight:bold;
        border:2px solid black;
        text-shadow:1px 1px 1px ;
        font-family:georgia;
        cursor:pointer; 
        margin-top:5px;
}

input[type="submit"]:hover {color:orange;
                   background-color:rgb(13, 70, 41);
                   box-shadow:4px 4px 8px grey;
                   transform:scale(1.1);
                   transition:transform 0.5s;
                   }    

#but:active {color:yellow;}

h2{ color:brown;
        background-color:lightyellow;
        font-size:34px;
        border-radius:7px;
        padding:4px 5px 4px 1px;
        margin:2px;
        font-size:50px;
        padding-bottom:-20px;
        margin-bottom:22px;
        padding-top:0px;
}
    
header{color:rgb(255, 255, 255);
       background-color:rgb(4, 62, 36);
       font-size:52px;
       text-align: center;
       font-family:sans-serif;
       width:100%;
       padding-top: 6px;
       padding-bottom: -5px;
       
}
form {background-color:white;
      border-radius:12px;
      margin-bottom:12px;
      padding:9 5 9 5;
      box-shadow:2px 3px 4px grey;
      border:2px solid black;
      font-family:georgia;
      font-weight:600;
      position:relative;
      border:1px solid blue;
      box-shadow:3px 3px 10px 0px;
      text-align: center;

}
nav {text-align:center;
     font-size:21px;
     background-color:rgb(127, 228, 181);
     font-family:georgia;
     font-weight:700;
     padding-top:0;
     color:rgb(0, 0, 0);
}

a {text-decoration:none;
   text-shadow:2% 2% 10px white;
   color: rgb(6, 43, 31);
   text-shadow:1px 1px 10px rgb(255, 248, 248);
}

a:link {color:rgba(13, 39, 34, 0.905);
}
a:hover{color:hwb(0 100% 0%);
     text-shadow:1px 1px 3px black;
}
a:active{color:rgb(7, 39, 22);
    
}

.si1 {margin-left:19px;
      text-shadow:4px 2px 10px red;
      font-size:25px;
      font-family:georgia;
      font-weight:700;
      margin:5px;
      position: relative;
      left: 40px;
      
 }

#si1 {margin-left:1px;
      margin-right: 2px;
      border:1px solid black;
      padding:5px;
      border-radius:24px;  background:linear-gradient(12deg,black,white);
      color:white;
      font-size:12px;
      margin-bottom:8px; 
      color:black;
      margin: 5px;
      position: relative;
      left: 40px;
}

.c1 {margin-left:0px;
      text-shadow:4px 2px 10px red;
      font-size:25px;
      font-family:georgia;
      font-weight:700;
      position: relative;
      left: 23px;
}

#c1 {margin-left:2px;
      border:1px solid black;
      padding-right:19px;
      padding-top:5px;
      padding-bottom:4px;
      border-radius:24px;  background:linear-gradient(12deg,black,white);
      color:white;
      font-size:12px;
      margin-bottom:8px;
      color: black;
      position: relative;
      left: 40px;

 }
 
 .em {margin-left:0px;
      text-shadow:4px 2px 10px red;
      font-size:25px;
      font-family:georgia;
      font-weight:700;
}

.t1 { margin-left:0px;
      text-shadow:4px 2px 10px red;
      font-size:25px;
      font-family:georgia;
      font-weight:700;
      
}
 
input[type="text"] {padding:5px;
     border:2px solid grey;
     border-radius:12px;
     box-shadow:2px 3px 4px grey;
     margin-bottom:10px;
     border-left-color:red;
     font-weight:600;
     font-family:georgia;
     font-size:16px;
      position:relative;
      left: 40px;
}

input[type="email"] {padding:5px;
     border:2px solid rgb(71, 41, 41);
     border-radius:12px;
     box-shadow:2px 3px 4px grey;
     margin-bottom:10px;
     border-left-color:red;
     font-weight:600;
     font-family:georgia;
     font-size:16px;
     position:relative;
     left: 40px;
}

#trending {font-family:serif;
           font-weight:700;
           font-size:200%;
           background-color: antiquewhite;
           border-radius: 5px;
           

           
}
#old    {  font-family:serif;
           font-weight:700;
           font-size:200%; 
           background-color: aqua; 
           border-radius: 5px; 
           }

.trendings {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      border: 2px solid rgb(0, 0, 0);
      justify-content:center;
      padding-bottom: 8px;
      flex-shrink: 1;

}
.trends {
      border: 4px solid rgb(255, 255, 255);
      padding-left:1px;
      margin: 10px 5px;
      box-shadow: 2px 2px 10px black;
      border-radius:5px;
      width: 40%;
      height: auto;
      align-items: left;
      flex-shrink: 2;
      
}
.olds {
      border: 4px solid rgb(255, 255, 255);
      padding-left:1px;
      margin: 10px 5px;
      box-shadow: 2px 2px 10px black;
      border-radius:5px;
      width: 40%;
      height: auto;
      flex-wrap: nowrap;
}
.pron {
      padding:8px;
      margin-top:10px;
      margin-bottom: 20px;
      font-size:20px;
      font-family:georgia;
      font-weight:200;
      list-style:none;
      box-shadow:2px 3px 4px grey;
      border-radius:12px;
      background-color:rgb(255, 255, 255);
      transition:transform 0.5s;
      justify-content: center;
}


li {font-size:32px;
    padding:2px;
    transition:transform 2s;
    text-align: center;
    left:30px;
    font-family: Arial, Helvetica, sans-serif;
    list-style:none;
    margin:5px;


    
}
li:active {transform:scale(1.5);}

.product {padding:8px;
              margin:5px;
              font-size:20px;
              font-family:georgia;
              font-weight:600;
              list-style:none;
              border:1px solid black;
              box-shadow:2px 3px 4px grey;
              border-radius:12px;
              background-color:lightyellow;
              transition:transform 0.5s;
              justify-content: center;

            
}

#im1:hover {color:skyblue;
            
}

li:active {color:green;
}

footer {
      background-color: rgb(6, 63, 43);
      color: white;
      text-align: center;
      padding:10px;
      font-size: large;
      font-family: Arial, Helvetica, sans-serif;
      margin-top:12px;
      font-weight: 600;
      border:2px solid black;
      border-left:5px solid red;
      border-right:5px solid blue;

}


img {border-radius:12px;
     transition:border-radius 3s;
     transition-delay:0.5;
     transition-timing-function:ease-in-out;
     width:19%;
     height:50%;
     margin:2px;
     height:auto;
     box-shadow:2px 3px 4px grey;
     border:1px solid black;



}
img:hover { border-radius:50px;
           transform:scale(0.95);
}
h6 {font-size:12px;
     font-family:georgia;
     font-weight:600;
     margin-top:8px;
     margin-bottom:0px;
     }
input[type="checkbox"]{
      margin-top:10px;
      margin-bottom:10px;
      margin-left:5px;
      margin-right:5px;
      width:20px;
      height:20px;
      border:2px solid grey;
      border-radius:4px;
      box-shadow:2px 3px 4px grey;
      border-left-color:red;
      font-family:georgia;
      text-align: center;

}
.pro {display:flex;
      flex-wrap:nowrap;
      margin-top:12px;
      margin-bottom:12px;
      padding:5px;
      border:1px solid black;
      box-shadow:2px 3px 4px grey;
      border-radius:12px;
      background-image:(90deg,lightyellow,white);
      justify-content:space-around;
}     
form {
      align-items: center;
}
